# Exploring Student Data (Student Performance)

#### Overview

Imagine that you work for a school district and have collected some data on local students and their parents. You’ve been tasked with answering some important questions:

- How are students performing in their math classes?
- What do students’ parents do for work?
- How often are students absent from school?
- In this project, you’ll explore and summarize some student data in order to answer these questions.

##### Data citation:

Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [link](http://archive.ics.uci.edu/ml). \
Irvine, CA: University of California, School of Information and Computer Science [link](http://archive.ics.uci.edu/ml/datasets/Student+Performance) \
Paulo Cortez, University of Minho, Guimarães, Portugal [link](http://www3.dsi.uminho.pt/pcortez).

## Initial Inspection

1. First, familiarize yourself with the dataset

Expected data type for each column:
##### Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
- `school`: student's school (binary: "GP"` - Gabriel Pereira or "MS" - Mousinho da Silveira)
- `sex`: student's sex (binary: "F"` - female or "M" - male)
- `age`: student's age (numeric: from 15 to 22)
- `address`: student's home address type (binary: "U"` - urban or "R" - rural)
- `famsize`: family size (binary: "LE3" - less or equal to 3 or "GT3"` - greater than 3)
- `Pstatus`: parent's cohabitation status (binary: "T"` - living together or "A" - apart)
- `Medu`: mother's education (numeric: 0 - none,  1` - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- `Fedu`: father's education (numeric: 0 - none,  1` - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
- `Mjob`: mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
- `Fjob`: father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
- `reason`: reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
- `guardian`: student's guardian (nominal: "mother", "father" or "other")
- `traveltime`: home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4` - >1 hour)
- `studytime`: weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4` - >10 hours)
- `failures`: number of past class failures (numeric: n if 1<=n<3, else 4)
- `schoolsup`: extra educational support (binary: yes or no)
- `famsup`: family educational support (binary: yes or no)
- `paid`: extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- `activities`: extra-curricular activities (binary: yes or no)
- `nursery`: attended nursery school (binary: yes or no)
- `higher`: wants to take higher education (binary: yes or no)
- `internet`: Internet access at home (binary: yes or no)
- `romantic`: with a romantic relationship (binary: yes or no)
- `famrel`: quality of family relationships (numeric: from 1 - very bad to 5` - excellent)
- `freetime`: free time after school (numeric: from 1 - very low to 5` - very high)
- `goout`: going out with friends (numeric: from 1 - very low to 5` - very high)
- `Dalc`: workday alcohol consumption (numeric: from 1 - very low to 5` - very high)
- `Walc`: weekend alcohol consumption (numeric: from 1 - very low to 5` - very high)
- `health`: current health status (numeric: from 1 - very bad to 5` - very good)
- `absences`: number of school absences (numeric: from 0 to 93)

##### these grades are related with the course subject, Math or Portuguese:
- `G1`: first period grade (numeric: from 0 to 20)
- `G2`: second period grade (numeric: from 0 to 20)
- `G3`: final grade (numeric: from 0 to 20, output target)

Additional note: there are several (382) students that belong to both datasets . 
These students can be identified by searching for identical attributes
that characterize each student, as shown in the annexed R file.

2. Next, let's load in the diabetes data to start exploring.
   
   **Note**: The data is stored in a file called `student-mat.csv`.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
student = pd.read_csv('student-mat.csv',sep=';')
student.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [4]:
student.shape

(395, 33)

In [5]:
student[student.isnull().any(axis=1)]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

Our analysis will be limited to the variables __address, absences, Mjob, Fjob, and G3__.

In [10]:
student = student[['address', 'absences', 'Mjob', 'Fjob', 'G3']]
student = student.rename(columns={'G3': 'math_grade'})
student.head()

  address  absences     Mjob      Fjob  math_grade
0       U         6  at_home   teacher           6
1       U         4  at_home     other           6
2       U        10  at_home     other          10
3       U         2   health  services          15
4       U         4    other     other          10

3. Use the pandas `.describe()` method to print out summary statistics for all five features in the dataset. Inspect the output. Do more students live in urban or rural locations?

In [11]:
student.describe(include='all')

       address    absences   Mjob   Fjob  math_grade
count      395  395.000000    395    395  395.000000
unique       2         NaN      5      5         NaN
top          U         NaN  other  other         NaN
freq       307         NaN    141    217         NaN
mean       NaN    5.708861    NaN    NaN   10.415190
std        NaN    8.003096    NaN    NaN    4.581443
min        NaN    0.000000    NaN    NaN    0.000000
25%        NaN    0.000000    NaN    NaN    8.000000
50%        NaN    4.000000    NaN    NaN   11.000000
75%        NaN    8.000000    NaN    NaN   14.000000
max        NaN   75.000000    NaN    NaN   20.000000

4. Let’s start by trying to summarize the `math_grade` column. Calculate and print the mean, median and mode value of `math_grade`.
    
    How does the median value compare to the mean value? Is it lower or higher?\
    What is the most common grade earned by students in this dataset? How different is this number from the mean and median?

In [17]:
print(f'Value mean:', student.math_grade.mean())
print(f'Value median:', student.math_grade.median())
print(f'Value mode:', student.math_grade.mode()[0])

Value mean: 10.415189873417722
Value median: 11.0
Value mode: 10

5. Let’s summarize the spread of student grades. Calculate and print the range of the `math_grade` column

In [19]:
print(f'Minimum note value:', min(student.math_grade))
print(f'Maximum note value:', max(student.math_grade))

Minimum note value: 0
Maximum note value: 20