# Working with Python Lists: Medical Insurance Costs Project

You are a doctor sorting through medical insurance cost data for some patients.

Using your knowledge of Python lists, you will store medical data and see what valuable insights you can gain from that data.

Let's get started!

## Exploring List Data

1. First, take a look at the two lists in the code block below.

   The list `names` stores the names of ten individuals, and `insurance_costs` stores their medical insurance costs.
   
   Let's add additional data to these lists:
   - Append a new individual, `"Priscilla"`, to `names`.
   - Append her insurance cost, `8320.0` to `insurance_costs`.

In [3]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

In [6]:
names.append('Priscilla')
insurance_costs.append(8320.0)

2. Currently, the `names` and `insurance_costs` lists are separate, but we want each insurance cost to be paired with a name.

   Create a new variable called `medical_records` that combines `insurance_costs` and `names` into a list using the `zip()` function.
   
   The list should have the following structure:
   
   ```py
   [(cost_0, name_0), (cost_1, name_1), (cost_2, name_2), ...]
   ```

In [12]:
medical_records = list(zip(insurance_costs, names))

3. Print out `medical_records` below, and make sure the output is what you expected.

In [13]:
print(medical_records)

[(13262.0, 'Mohamed'), (4816.0, 'Sara'), (6839.0, 'Xia'), (5054.0, 'Paul'), (14724.0, 'Valentina'), (5360.0, 'Jide'), (7640.0, 'Aaron'), (6072.0, 'Emily'), (2750.0, 'Nikita'), (12064.0, 'Paul'), (8320.0, 'Priscilla')]

4. Let's explore our medical data.

   We want to see how many medical records we are dealing with. Create a variable called `num_medical_records` that stores the length of `medical_records`.

In [14]:
num_medical_records = len(medical_records)

5. Print `num_medical_records` with the following message:

   ```
   There are {number of medical records} medical records.
   ```

In [15]:
print(f'There are {num_medical_records} medical records.')

There are 11 medical records.

## Selecting List Elements

6. Select the first medical record in `medical_records`, and save it to a variable called `first_medical_record`.

In [16]:
first_medical_record = medical_records[0]

7. Print `first_medical_record` with the following message:

   ```
   Here is the first medical record: {first medical record}
   ```

In [17]:
print(f'Here is the first medical record: {first_medical_record}')

Here is the first medical record: (13262.0, 'Mohamed')

## Sorting Lists

8. Sort `medical_records` so that the individuals with the lowest insurance costs appear at the start of the list.

   Print the sorted `medical_records` with the following message:
   
   ```
   Here are the medical records sorted by insurance cost: {sorted list}
   ```

In [19]:
medical_records.sort()
print(f'Here are the medical records sorted by insurance cost: {medical_records}')

Here are the medical records sorted by insurance cost: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul'), (5360.0, 'Jide'), (6072.0, 'Emily'), (6839.0, 'Xia'), (7640.0, 'Aaron'), (8320.0, 'Priscilla'), (12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

## Slicing Lists

9. Let's look at the three cheapest insurance costs in our medical records.

   Slice the `medical_records` list, and store the three cheapest insurance costs in a list called `cheapest_three`.

In [21]:
cheapest_three = medical_records[:3]

10. Print `cheapest_three` with the following message:

    ```py
    Here are the three cheapest insurance costs in our medical records: {cheapest three}
    ```

In [22]:
print(f'Here are the three cheapest insurance costs in our medical records: {cheapest_three}')

Here are the three cheapest insurance costs in our medical records: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul')]

11. Let's look at the three most expensive insurance costs in our medical records.

    Slice the `medical_records` list, and store the three most expensive insurance costs in a list called `priciest_three`.

In [23]:
priciest_three = medical_records[-3:]

12. Print `priciest_three` with the following message:

    ```
    Here are the three most expensive insurance costs in our medical records: {priciest three}
    ```

In [24]:
print(f'Here are the three most expensive insurance costs in our medical records: {priciest_three}')

Here are the three most expensive insurance costs in our medical records: [(12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

## Counting Elements in a List

13. Some individuals in our medical records have the same name. For example, the name "Paul" shows up twice.

    Count the number of occurrences of "Paul" in the `names` list, and store the result in a variable called `occurrences_paul`.
    
    Print `occurrences_paul` with the following message:
    
    ```
    There are {occurrences Paul} individuals with the name Paul in our medical records.
    ```

In [27]:
occurences_paul = names.count('Paul')
print(f'The are {occurences_paul} individuals with the name Paul in our medical records')

The are 2 individuals with the name Paul in our medical records

## Extra

14. Great job! In this project, you worked with Python lists to store medical insurance cost data and then gained meaningful insight into that data.

    You now have a better understanding of how to interact with data in lists - an important skill for a data scientist to have.
    
    Our dataset in this project was pretty small - we only dealt with 11 medical records. However, as you progress in your data science journey, you will encounter larger and more complex datasets. You are now better prepared to work with data in lists moving forward.
    
    If you'd like additional practice on lists, here are some ways you might extend this project:
    - Sort the medical records alphabetically by name. You'll have to create a new list using `zip()` to do this.
    - Select the medical records starting at index `3` and ending at index `7` and save it to a variable called `middle_five_records`.
    
    Happy coding!

In [28]:
medical_records = list(zip(names, insurance_costs))
medical_records.sort()
print(medical_records)

[('Aaron', 7640.0), ('Emily', 6072.0), ('Jide', 5360.0), ('Mohamed', 13262.0), ('Nikita', 2750.0), ('Paul', 5054.0), ('Paul', 12064.0), ('Priscilla', 8320.0), ('Sara', 4816.0), ('Valentina', 14724.0), ('Xia', 6839.0)]

In [30]:
middle_five_records = medical_records[3:8]
print(middle_five_records)

[('Mohamed', 13262.0), ('Nikita', 2750.0), ('Paul', 5054.0), ('Paul', 12064.0), ('Priscilla', 8320.0)]